<div class="mn-profile" data-bind="with: profileVM()">
    <div class="header">
         <div class="thumbnail" data-bind="css: { 'nologo': profileLogo() == '' }">
                     <img id="img-profile" src="" data-bind="    attr: { 'src': profileLogo() }" />
            <div class="dropzone" data-bind="dropZone: '#img-profile'"></div>
        </div>
        <div class="mobnation-button" data-bind="click: function () { hasher.setHash(''); }"></div>
        <div class="profile-headers">
            <div class="title">Monash Kickboxing</div>
            <div class="sub-title">Monash University Kickboxing Club</div>
            <div class="head-container contact" data-bind="expandMore: { left: 0, top: 0, width: 10, height: 200 }">
                <div class="thumbnail">
                    <img id="img-contact" src="https://mobnation.s3-ap-southeast-2.amazonaws.com/assets/profiles/monashkickboxing/kacey-image.jpg" />
                    <div class="mn-caption">Contact</div>
                     <div class="dropzone" data-bind="dropZone: '#img-contact'"></div>
                </div>
                <div class="details">Kacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongChongKacey ChongChongKacey ChongChongKacey ChongChongKacey Chong</div>
                <div class="more-toggle"></div>
                <div class="edit-toggle"><i class="fa fa-pencil"></i></div>
                <div class="detail-fade"></div>
            </div>
            <div class="head-container about" data-bind="expandMore: { left: 0, top: 0, width: 10, height: 400 }">
                <div class="thumbnail">
                    <img id="img-about" src="https://mobnation.s3-ap-southeast-2.amazonaws.com/assets/profiles/monashkickboxing/class-image.jpg" />
                    <div class="mn-caption">About</div>
                     <div class="dropzone" data-bind="dropZone: '#img-about'"></div>
                </div>
                <div class="details">Monash University Kickboxing ClubMonash University Kickboxing ClubMonash Unive Kickboxing ClubMonash University Kickboxing ClubMonash Unive Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonashClubMonash University Kickboxing ClubMonashClubMonash University Kickboxing ClubMonashClubMonash University Kickboxing ClubMonash University Kickboxing Club</div>
                <div class="more-toggle"></div>
                <div class="edit-toggle"><i class="fa fa-pencil"></i></div>
                <div class="detail-fade"></div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="receipt" data-bind="visible: receipt.receiptActive(), with: receipt">
            <div class="header">New Receipt</div>
            <div class="items">
                <label data-bind="text: totalQty() + ' Items'"></label>
                <button class="mn-button" data-bind="click: clearReceipt"><i class="fa fa-trash-o"></i>Cancel Receipt</button>
            </div>
            <div class="summary">
                <div class="totals"></div>
                <div class="actions" data-bind="visible: receiptExpanded() == false">
                    <button class="mn-button" data-bind="click: function () { receiptExpanded(true); }"><i class="fa fa-print"></i>Prepare Receipt</button>
                </div>
            </div>
            <div class="details" data-bind="visible: receiptExpanded()">

                <div class="separator"></div>
                <div class="columns">
                    <div class="product-name">Item</div>
                    <div class="product-qty">Quantity</div>
                    <div class="product-price">Price</div>
                    <div class="product-cost">Total Cost</div>
                </div>
                <div class="items" data-bind="foreach: items()">
                    <div class="product">
                        <div class="product-name" data-bind="text: name"></div>
                        <div class="product-qty">
                            <div class="mn-button" data-bind="click: function () { $parents[1].removeFromReceipt($data.product) }"><i class="fa fa-minus"></i></div>
                            <input type="text" placeholder="Name" data-bind="value: qty, valueUpdate: 'keyup'">
                            <div class="mn-button" data-bind="click: function () { $parents[1].addToReceipt($data.product) }"><i class="fa fa-plus"></i></div>
                        </div>
                        <div class="product-price" data-bind="text: '$' + price"></div>
                        <div class="product-cost" data-bind="text: '$' + cost()"></div>
                    </div>
                </div>

                <div class="separator"></div>
                <div class="totals">
                    <div class="product-name">Total</div>
                    <div class="product-qty" data-bind="text: totalQty()"></div>
                    <div class="product-price"></div>
                    <div class="product-cost" data-bind="text: '$' + totalCost()"></div>
                </div>

                <div class="separator"></div>
                <div class="info">
                    <label>Recepient</label>
                    <div class="re-name">
                        <label>Name</label>
                        <input type="text" placeholder="Name" data-bind="value: recName, valueUpdate: 'keyup'">
                    </div>
                    <div class="re-email">
                        <label>E-Mail Address</label>
                        <input type="text" placeholder="E-Mail" data-bind="value: recEmail, valueUpdate: 'keyup'">
                    </div>

                    <div class="separator"></div>
                    <label>Issuer</label>
                    <div class="is-name">
                        <label>Name</label>
                        <input type="text" placeholder="Name" data-bind="value: isName, valueUpdate: 'keyup'">
                    </div>
                    <div class="is-sig" data-bind="signaturePad: sigData">
                        <label>Sign below with your mouse, finger or pen</label>
                        <div class="mn-button clearButton">Clear / Draw Again</div>

                        <div class="sig sigWrapper">
                            <div class="typed"></div>
                            <canvas class="pad" width="350" height="150"></canvas>
                        </div>

                    </div>
                </div>
                <div class="submit">
                    <div class="mn-button" data-bind="click: sendReceipt"><i class="fa fa-envelope"></i>Send Receipts</div>
                </div>
            </div>
        </div>

        <div class="products-list">
            <div class="heading">Products</div>
            <div class="product-container">

                <div class="product-card create" data-bind="expandMore: { left: 0, top: -100, width: 0, height: 200, selectors: '.product-desc textarea', target: newProduct }, with: newProduct()">
                    <div class="left-section">
                        <div class="product-type">
                            <input type="text" placeholder="Product Type" data-bind="value: productType, valueUpdate: 'keyup'">
                        </div>
                        <div class="product-title">
                            <input type="text" placeholder="Product Name" data-bind="value: name, valueUpdate: 'keyup'">
                        </div>
                        <div class="product-desc">
                            <textarea data-bind="value: desc, valueUpdate: 'keyup'" placeholder="Product Description"></textarea>

                        </div>
                    </div>
                    <div class="right-section">
                        <div class="product-price">
                            <input type="text" placeholder="Price" data-bind="value: price, valueUpdate: 'keyup'">
                        </div>
                        <button class="mn-button" data-bind="click: $parent.addProduct.bind($parent)"><i class="fa fa-plus"></i>New Product</button>

                    </div>


                </div>

                <!-- ko foreach: products -->
                <div class="product-card" data-bind="expandMore: { left: 0, top: -100, width: 0, height: 200 }">
                    <div class="wrap">
                        <div class="left-section">
                            <div class="product-type" data-bind="text: productType">Special Offer</div>
                            <div class="product-title" data-bind="text: name">7-Day Free Trial</div>
                            <div class="product-desc" data-bind="text: desc">Free 7-Day for eligable new members of Monash Kickboxing</div>
              
                        </div>       
                        <div class="detail-fade"></div>
                        <div class="more-toggle"></div>   
                        <div class="right-section">
                            <div class="product-price" data-bind="text: price">Free</div>
                        
                            <button class="mn-button"  data-bind="visible: badgeNumber() == 0,    click: function () { $parent.addToReceipt($data) }"><i class="fa fa-file"></i>Add To Receipt</button>
                            <div class="quantity-buttons" data-bind="visible: badgeNumber()>0">
                                <button class="mn-button add" data-bind="click: function () { $parent.addToReceipt($data) }"><i class="fa fa-plus"></i></button>
                                <button class="mn-button subtract" data-bind="click: function () { $parent.removeFromReceipt($data) }"><i class="fa fa-minus"></i></button>
                            </div>

                            <div class="edit-toggle" data-bind="click: function () { $parent.editProduct($data) }"><i class="fa fa-pencil"></i></div>
                        </div>
                    </div>
                    <div class="banner-text" data-bind="visible: badgeNumber() > 0 ">
                        <div class="number" data-bind="text: badgeNumber"></div>
                    </div>
                </div>
                <!-- /ko -->

            </div>

        </div>
    </div>
    <div class="footer" data-bind="template: { name: 'home/footerTemplate' }"></div>
</div>
