<div class="mn-profile editable">
    <div class="header">
        <div class="thumbnail"></div>
        <div class="mobnation-button">
            <img src="Content/images/mobnation-white-hand.png" alt="" />
        </div>
        <div class="profile-headers">
            <div class="title">Monash Kickboxing</div>
            <div class="sub-title">Monash University Kickboxing Club</div>
            <div class="head-container contact">
                <div class="thumbnail"><div class="mn-caption">Contact</div></div>
                <div class="details">Kacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongKacey ChongChongKacey ChongChongKacey ChongChongKacey ChongChongKacey Chong</div>
                <div class="more-toggle"></div>
                <div class="edit-toggle"><i class="fa fa-pencil"></i></div>
            </div>
            <div class="head-container about overflowed">
                <div class="thumbnail"><div class="mn-caption">About</div></div>
                <div class="details">Monash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonash University Kickboxing ClubMonashClubMonash University Kickboxing ClubMonashClubMonash University Kickboxing ClubMonashClubMonash University Kickboxing ClubMonash University Kickboxing Club</div>
                <div class="more-toggle"></div>
                <div class="edit-toggle"><i class="fa fa-pencil"></i></div>
            </div>
        </div>
    </div>
    <div class="body">
        
    </div>
</div>