html,
body {
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  height: 100%;
  margin: 0;
  line-height: 1.42857143;
  font-size: 14px;
  color: #333;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer {
  border-top: 1px solid #ebebeb;
  height: 142px;
  margin-top: 20px;
}
.mn-button {
  background-color: #208cbc;
  border: 1px solid white;
  padding: 4px 7px;
  color: white;
  font-size: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mn-button:hover {
  background-color: #5ebbe4;
}
.mn-button i {
  margin-right: 5px;
}
.expanded {
  box-shadow: 0px 0px 5px black;
}
.overflowed .more-toggle {
  display: block !important;
}
.editable .head-container:hover .edit-toggle,
.editable .product-card:hover .edit-toggle {
  display: block !important;
  color: #5ebbe4;
}
