html,
body {
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  height: 100%;
  margin: 0;
  line-height: 1.42857143;
  font-size: 14px;
  color: #333;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer {
  border-top: 1px solid #ebebeb;
  height: 142px;
  margin-top: 20px;
}
.mn-button {
  background-color: #208cbc;
  border: 1px solid white;
  padding: 4px 7px;
  color: white;
  font-size: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mn-button:hover {
  background-color: #5ebbe4;
}
.mn-button i {
  margin-right: 5px;
}
.mn-home {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
}
.mn-home > .header {
  display: block;
  min-height: 100px;
  text-align: center;
}
.mn-home > .header > img {
  float: left;
}
.mn-home > .header > .search {
  display: inline-block;
  width: 50%;
  margin-top: 26px;
}
.mn-home > .header > .search input {
  width: 96%;
  margin-right: -25px;
  font-size: 23px;
  border: 1px solid #383838;
  padding: 1px 4px;
}
.mn-home > .header > .search > .fa-search {
  color: #383838;
  font-size: 20px;
}
.mn-home > .header > .search > .fa-search:hover {
  color: #5ebbe4;
}
.mn-home .body .cards-list .profile-card {
  margin: 5px;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 110px;
  border: 1px solid #383838;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mn-home .body .cards-list .profile-card.create {
  border: 2px dotted #5ebbe4;
  cursor: default !important;
  outline: none !important;
}
.mn-home .body .cards-list .profile-card.create:hover {
  box-shadow: 0px 0px 5px yellow;
}
.mn-home .body .cards-list .profile-card.create input {
  outline: 1px solid #383838;
  background: transparent;
  width: 180px;
  padding: 2px 5px;
  border: none;
}
.mn-home .body .cards-list .profile-card.create input:hover {
  background: rgba(255, 255, 255, 0.18);
}
.mn-home .body .cards-list .profile-card.create input::-webkit-input-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create input:-moz-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create input::-moz-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create input:-ms-input-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create .dark {
  color: black;
}
.mn-home .body .cards-list .profile-card.create .white {
  background-color: #ffffff;
  color: black;
}
.mn-home .body .cards-list .profile-card.create .card-title {
  bottom: 2px;
}
.mn-home .body .cards-list .profile-card:hover {
  outline: 2px solid #5ebbe4;
  cursor: pointer;
}
.mn-home .body .cards-list .profile-card > .thumbnail {
  position: absolute;
  left: 5px;
  top: 5px;
  background-image: url(/content/images/mobnation-hand-medium.png);
  background-repeat: no-repeat;
  background-position: 30px 20px;
  height: 100px;
  width: 100px;
  border: 1px solid #d1d1d1;
  text-align: center;
  background-color: white;
}
.mn-home .body .cards-list .profile-card > .thumbnail i {
  font-size: 35px;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.61);
  margin-left: 6px;
  margin-top: 30px;
}
.mn-home .body .cards-list .profile-card .dark {
  background-image: url('/Content/images/mobnation-v1-profile-page-bg.png?');
  color: black;
}
.mn-home .body .cards-list .profile-card .white {
  background-color: #ebebeb;
  color: black;
}
.mn-home .body .cards-list .profile-card .top-section {
  height: 55px;
  padding-left: 110px;
  position: relative;
}
.mn-home .body .cards-list .profile-card .bottom-section {
  height: 55px;
  padding-left: 110px;
  position: relative;
  text-align: center;
}
.mn-home .body .cards-list .profile-card .bottom-section .mn-button {
  margin-top: 15px;
}
.mn-home .body .cards-list .profile-card .card-title {
  position: absolute;
  bottom: 0px;
}
.product-card {
  background-color: #ebebeb;
  margin: 5px;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 110px;
  border: 1px solid #9f9d9d;
  vertical-align: bottom;
}
.product-card.create {
  border: 2px dotted #5ebbe4;
  cursor: default !important;
  outline: none !important;
}
.product-card.create .edit-toggle {
  display: none !important;
}
.product-card.create .left-section {
  width: 189px;
}
.product-card.create:hover {
  box-shadow: 0px 0px 5px yellow;
}
.product-card.create .right-section {
  padding-top: 5px;
}
.product-card.create .right-section input {
  width: 96px;
}
.product-card.create .right-section .product-price {
  margin-top: 20px;
}
.product-card.create input {
  outline: none;
  background: transparent;
  width: 190px;
  padding: 2px 5px;
  border: none;
  color: black;
}
.product-card.create input:hover {
  background: rgba(255, 255, 255, 0.18);
}
.product-card.create input::-webkit-input-placeholder {
  color: #9f9d9d;
}
.product-card.create input:-moz-placeholder {
  color: #9f9d9d;
}
.product-card.create input::-moz-placeholder {
  color: #9f9d9d;
}
.product-card.create input:-ms-input-placeholder {
  color: #9f9d9d;
}
.product-card.create .dark {
  color: black;
}
.product-card.create .white {
  background-color: #ffffff;
  color: black;
}
.product-card.create .card-title {
  bottom: 2px;
}
.product-card .banner-text {
  height: 18px;
  width: 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #ff6c6c;
  border: 2px solid #d10000;
  color: white;
  font-size: 14px;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  padding: 0;
}
.product-card .banner-text .number {
  margin-top: -3px;
}
.product-card .left-section {
  vertical-align: bottom;
  position: relative;
  width: 194px;
  display: inline-block;
  height: 110px;
}
.product-card .left-section .product-type {
  padding: 5px 0px 0px 5px;
  color: #9f9d9d;
  font-size: 12px;
}
.product-card .left-section .product-title {
  padding: 0px 5px;
  font-size: 25px;
  margin-top: -3px;
}
.product-card .left-section .product-desc {
  font-size: 13px;
  padding: 0px 5px;
  margin-top: -3px;
}
.product-card .left-section.expanded .more-toggle:after {
  content: "Less..";
}
.product-card .left-section .more-toggle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 23px;
  background-color: white;
  border: 1px solid #d1d1d1;
  font-size: 12px;
  cursor: pointer;
  padding: 3px;
}
.product-card .left-section .more-toggle:after {
  content: 'More..';
}
.product-card .left-section .more-toggle:hover {
  color: #5ebbe4;
}
.product-card .right-section {
  vertical-align: bottom;
  height: 110px;
  width: 100px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.product-card .right-section .mn-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
.product-card .right-section .product-price {
  margin-top: 30px;
}
.product-card .right-section .product-price input {
  text-align: center;
  text-transform: uppercase;
}
.product-card .right-section .edit-toggle {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.mn-mobile .product-card .right-section .edit-toggle {
  display: block;
}
.product-card .right-section .edit-toggle:hover {
  color: #5ebbe4;
}
.product-card .card-title {
  position: absolute;
  bottom: 0px;
}
.head-container {
  border: 1px solid #d1d1d1;
  background-color: #ebebeb;
  padding: 5px;
  display: inline-block;
  height: 102px;
  min-width: 200px;
  margin: 5px;
  position: relative;
}
.head-container > .thumbnail {
  height: 90px;
  width: 90px;
  background-color: white;
  border: 1px solid #d1d1d1;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: hidden;
  text-align: center;
}
.head-container > .thumbnail .mn-caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px 0px;
}
.head-container > .thumbnail img {
  height: 100%;
}
.head-container .details {
  padding-left: 100px;
  display: block;
  overflow: hidden;
  height: 90px;
}
.head-container.contact {
  max-width: 350px;
}
.head-container.about {
  max-width: 574px;
}
.head-container.expanded .more-toggle:after {
  content: "Less..";
}
.head-container .more-toggle {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 23px;
  background-color: white;
  border: 1px solid #d1d1d1;
  font-size: 12px;
  cursor: pointer;
  padding: 3px;
}
.head-container .more-toggle:after {
  content: 'More..';
}
.head-container .more-toggle:hover {
  color: #5ebbe4;
}
.head-container .edit-toggle {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.mn-mobile .head-container .edit-toggle {
  display: block;
}
.head-container .edit-toggle:hover {
  color: #5ebbe4;
}
.mn-profile {
  max-width: 950px;
  margin: auto;
  position: relative;
}
.mn-profile > .header {
  background-image: url('/Content/images/mobnation-v1-profile-page-bg.png?');
  background-repeat: repeat-x;
  padding-top: 70px;
}
.mn-profile > .header > .thumbnail {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #d1d1d1;
  text-align: center;
}
.mn-profile > .header > .thumbnail .dropzone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mn-profile > .header .mobnation-button {
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url(/Content/images/mobnation-hand-sprites.png);
  height: 40px;
  width: 28px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.mn-profile > .header .mobnation-button:hover {
  background-position-x: -30px;
}
.mn-profile > .header .profile-headers {
  background-color: white;
  margin-top: -5px;
  border: 1px solid #d1d1d1;
  display: block;
}
.mn-profile > .header .profile-headers .title,
.mn-profile > .header .profile-headers .sub-title {
  margin-left: 130px;
}
.mn-profile > .header .profile-headers .title {
  font-size: 23px;
}
.mn-profile > .header .profile-headers .sub-title {
  font-size: 20px;
}
.mn-profile .body > .receipt {
  margin-top: 10px;
  display: block;
  background-color: #ebebeb;
  padding: 10px;
  text-align: center;
}
.mn-profile .body > .receipt .separator {
  background-color: white;
  height: 5px;
  margin: 5px 0px;
}
.mn-profile .body > .receipt > .header {
  display: inline-block;
  text-align: left;
  float: left;
  margin-top: 2px;
}
.mn-profile .body > .receipt > .items {
  display: inline-block;
  text-align: center;
}
.mn-profile .body > .receipt > .items button {
  background-color: #ff6c6c;
}
.mn-profile .body > .receipt > .items button:hover {
  background-color: #ff9f9f;
}
.mn-profile .body > .receipt > .summary {
  display: inline-block;
  text-align: right;
  float: right;
}
.mn-profile .body > .receipt .details {
  text-align: left;
}
.mn-profile .body > .receipt .details .submit {
  text-align: center;
}
.mn-profile .body > .receipt .details .submit .mn-button {
  background-color: #5ee4bb;
  color: black;
  font-size: 15px;
}
.mn-profile .body > .receipt .details .submit .mn-button:hover {
  background-color: #8aebcd;
}
.mn-profile .body > .receipt .details .product-price,
.mn-profile .body > .receipt .details .product-cost {
  text-align: right;
}
.mn-profile .body > .receipt .details .columns,
.mn-profile .body > .receipt .details .totals {
  font-weight: bold;
}
.mn-profile .body > .receipt .details .columns div,
.mn-profile .body > .receipt .details .totals div {
  display: inline-block;
  min-width: 20%;
}
.mn-profile .body > .receipt .details .columns .product-price,
.mn-profile .body > .receipt .details .totals .product-price,
.mn-profile .body > .receipt .details .columns .product-cost,
.mn-profile .body > .receipt .details .totals .product-cost {
  text-align: right;
}
.mn-profile .body > .receipt .details input {
  display: block;
  max-width: 250px;
  width: 100%;
}
.mn-profile .body > .receipt .details .items .product div {
  display: inline-block;
  min-width: 20%;
}
.mn-profile .body > .receipt .details .items .product input {
  width: 50px;
}
.mn-profile .body > .receipt .details .items input {
  display: inline-block;
}
.mn-profile .body > .receipt .details .items .mn-button {
  min-width: initial !important;
}
.mn-profile .body > .receipt .details .items .mn-button i {
  margin-right: 0px;
}
.mn-profile .body > .receipt .details .info > div {
  margin-left: 10px;
}
.mn-profile .body > .receipt .details .info > label {
  font-weight: bold;
}
.mn-profile .body > .receipt .details .info label {
  display: block;
  margin-left: 2px;
}
.mn-profile .body > .receipt .details .info > .is-sig label {
  font-size: 12px;
  display: inline-block;
}
.mn-profile .body > .receipt .details .info > .is-sig .sigWrapper {
  height: initial;
}
.mn-profile .body > .receipt .details .mn-button {
  display: inline-block;
  cursor: pointer;
}
.mn-profile .body > .products-list .heading {
  padding-left: 10px;
  margin-top: 10px;
}
.overflowed .more-toggle {
  display: block !important;
}
.editable .head-container:hover .edit-toggle,
.editable .product-card:hover .edit-toggle {
  display: block !important;
}
