

//Colours:

@col-mn-blue: rgb(94,187,228);
@col-mn-grey: rgb(159,157,157);
@col-mn-light-grey: rgb(235,235,235);
@col-mn-dark-grey: rgb(56,56,56);


.footer {
    border-top: 1px solid @col-mn-light-grey;
    height: 142px;
    margin-top: 20px;
}

.mn-button {
    background-color: darken( @col-mn-blue, 20%);
    border: 1px solid white;
    padding: 2px 6px;
    color: white;
    font-size: 11px;
    border-radius: 3px;

    &:hover {
        background-color: @col-mn-blue;
    }
}

//Common styles
html, body {
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    height: 100%;
}

//Page specific styles
.mn-home {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;

    .header {
        display: block;
        min-height: 100px;
        text-align: center;

        img {
            float: left;
        }

        .search {
            display: inline-block;
            width: 50%;
            margin-top: 26px;

            input {
                width: 96%;
                margin-right: -25px;
                font-size: 23px;
                border: 1px solid @col-mn-dark-grey;
                padding: 1px 4px;
            }

            .fa-search {
                color: @col-mn-dark-grey;
                font-size: 20px;

                &:hover {
                    color: @col-mn-blue;
                }
            }
        }
    }

    .body {
        .cards-list {
            .profile-card {

                &.create {
                    border: 2px dotted @col-mn-blue;
                    cursor: default !important;
                    outline: none !important;

                    &:hover {
                        box-shadow: 0px 0px 5px yellow;
                    }

                    input {
                        outline: 1px solid @col-mn-dark-grey;
                        background: transparent;
                        width: 180px;
                        padding: 2px 5px;

                        &:hover {
                            background: rgba(255, 255, 255, 0.18);
                        }

                        border: none;

                        &::-webkit-input-placeholder {
                            color: black;
                        }

                        &:-moz-placeholder {
                            color: black;
                        }

                        &::-moz-placeholder {
                            color: black;
                        }

                        &:-ms-input-placeholder {
                            color: black;
                        }
                    }

                    .dark {
                        //background-color: lighten(@col-mn-dark-grey, 20%);
                        color: black;
                    }

                    .white {
                        background-color: lighten(@col-mn-light-grey, 20%);
                        color: black;
                    }

                    .card-title {
                        bottom: 2px;
                    }
                }

                margin: 5px;
                position: relative;
                display: inline-block;
                width: 300px;
                height: 110px;
                border: 1px solid @col-mn-dark-grey;
                overflow: hidden;
                border-radius: 3px;

                &:hover {
                    outline: 2px solid @col-mn-blue;
                    cursor: pointer;
                }

                .thumbnail {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    background-image: url(/content/images/mobnation-hand-medium.png);
                    background-repeat: no-repeat;
                    background-position: 30px 20px;
                    height: 100px;
                    width: 100px;

                    i {
                        font-size: 35px;
                        color: white;
                        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.61);
                        margin-left: 33px;
                        margin-top: 30px;
                    }
                }

                .dark {
                    //background-color: @col-mn-dark-grey;
                    background-image: url('/Content/images/mobnation-v1-profile-page-bg.png?');
                    color: black;
                }

                .white {
                    background-color: @col-mn-light-grey;
                    color: black;
                }

                .top-section {
                    height: 55px;
                    padding-left: 110px;
                    position: relative;
                }

                .bottom-section {
                    height: 55px;
                    padding-left: 110px;
                    position: relative;
                    text-align: center;

                    .mn-button {
                        margin-top: 15px;
                    }
                }

                .card-title {
                    position: absolute;
                    bottom: 0px;
                }
            }
        }
    }
}


.mn-profile {
    max-width: 950px;
    margin: auto;
    position: relative;

    .header {
        background-image: url('/Content/images/mobnation-v1-profile-page-bg.png?');
        background-repeat: repeat-x;
        padding-top: 70px;

        .thumbnail {
            height: 120px;
            width: 120px;
            position: absolute;
            left: 5px;
            top: 5px;
            overflow: hidden;
        }

        .mobnation-button {
            position: absolute;
            right: 5px;
            top: 5px;
            background-image: url(/Content/images/mobnation-hand-sprites.png);
            height: 40px;
            width: 28px;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                background-position-x: -30px;
            }
        }

        .profile-headers {
            background-color: white;
            margin-top: -5px;
            border: 1px solid lighten(@col-mn-grey, 20%);
            display: block;

            .title, .sub-title {
                margin-left: 130px;
            }

            .title {
                font-size: 23px;
            }

            .sub-title {
                font-size: 20px;
            }

            .head-container {
                border: 1px solid lighten(@col-mn-grey, 20%);
                background-color: @col-mn-light-grey;
                padding: 5px;
                display: inline-block;
                height: 102px;
                min-width: 200px;
                margin: 5px;
                position: relative;

                .thumbnail {
                    height: 90px;
                    width: 90px;
                    background-color: white;
                    border: 1px solid lighten(@col-mn-grey, 20%);
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    overflow: hidden;

                    .mn-caption {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        text-align: center;
                        background-color: rgba(255, 255, 255, 0.9);
                        padding: 2px 0px;
                    }

                    img {
                        height: 100%;
                    }
                }


                .details {
                    padding-left: 100px;
                    display: block;
                    overflow: hidden;
                    height: 90px;
                }

                &.contact {
                    max-width: 350px;
                }

                &.about {
                    max-width: 574px;
                }

                .more-toggle {
                    display: none; //Must be a child of overflow class
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    width: 50px;
                    height: 23px;
                    background-color: white;
                    border: 1px solid lighten(@col-mn-grey, 20%);
                    font-size: 12px;
                    cursor: pointer;

                    &:after {
                        content: 'More..';
                    }

                    padding: 3px;

                    &:hover {
                        color: @col-mn-blue;
                    }
                }

                .edit-toggle {
                    display: none; //Must be a child of editable
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;

                    &:hover {
                        color: @col-mn-blue;
                    }
                }
            }
        }
    }

    .body {
        .products-list {
            
        .heading{
            padding-left:10px;
            margin-top:10px;
        }
            .product-container {
                .product-card {
                    background-color: @col-mn-light-grey;

                    &.create {
                        border: 2px dotted @col-mn-blue;
                        cursor: default !important;
                        outline: none !important;

                        .edit-toggle {
                            display: none !important;
                        }

                        .left-section {
                            width: 189px;
                        }

                        &:hover {
                            box-shadow: 0px 0px 5px yellow;
                        }

                        .right-section {
                            padding-top: 5px;

                            input {
                                width: 96px;
                            }

                            .product-price {
                                margin-top: 20px;
                            }
                        }

                        input {
                            outline: none;
                            background: transparent;
                            width: 190px;
                            padding: 2px 5px;

                            &:hover {
                                background: rgba(255, 255, 255, 0.18);
                            }

                            border: none;
                            color: black;

                            &::-webkit-input-placeholder {
                                color: @col-mn-grey;
                            }

                            &:-moz-placeholder {
                                color: @col-mn-grey;
                            }

                            &::-moz-placeholder {
                                color: @col-mn-grey;
                            }

                            &:-ms-input-placeholder {
                                color: @col-mn-grey;
                            }
                        }

                        .dark {
                            //background-color: lighten(@col-mn-dark-grey, 20%);
                            color: black;
                        }

                        .white {
                            background-color: lighten(@col-mn-light-grey, 20%);
                            color: black;
                        }

                        .card-title {
                            bottom: 2px;
                        }
                    }

                    margin: 5px;
                    position: relative;
                    display: inline-block;
                    width: 300px;
                    height: 110px;
                    border: 1px solid @col-mn-dark-grey;
                    border-radius: 3px;
                    vertical-align: bottom;


                    .banner-text {
                        height: 18px;
                        width: 18px;
                        border-radius: 10px;
                        background-color: #ff6c6c;
                        border: 2px solid #d10000;
                        color: white;
                        font-size: 14px;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        text-align: center;
                        padding: 0;

                        .number {
                            margin-top: -3px;
                        }
                    }



                    .left-section {
                        vertical-align: bottom;
                        position: relative;
                        width: 194px;
                        display: inline-block;
                        height: 110px;


                        .product-type {
                            padding: 5px 0px 0px 5px;
                            color: @col-mn-grey;
                            font-size: 12px;
                        }

                        .product-title {
                            padding: 0px 5px;
                            font-size: 25px;
                            margin-top: -3px;
                        }

                        .product-desc {
                            font-size: 13px;
                            padding: 0px 5px;
                            margin-top: -3px;
                        }


                        .more-toggle {
                            position: absolute;
                            bottom: 5px;
                            right: 5px;
                            width: 50px;
                            height: 23px;
                            background-color: white;
                            border: 1px solid lighten(@col-mn-grey, 20%);
                            font-size: 12px;
                            cursor: pointer;

                            &:after {
                                content: 'More..';
                            }

                            padding: 3px;

                            &:hover {
                                color: @col-mn-blue;
                            }
                        }
                    }

                    .right-section {
                        vertical-align: bottom;
                        height: 110px;
                        width: 100px;
                        display: inline-block;
                        position: relative;
                        text-align: center;

                        .mn-button {
                            position: absolute;
                            bottom: 5px;
                            left: 5px;
                            right: 5px;
                        }

                        .product-price {
                            input {
                                text-align: center;
                            }

                            margin-top: 30px;
                        }

                        .edit-toggle {
                            display: none;
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            cursor: pointer;

                            &:hover {
                                color: @col-mn-blue;
                            }
                        }
                    }

                    .card-title {
                        position: absolute;
                        bottom: 0px;
                    }
                }
            }
        }
    }
}

.overflowed {
    .more-toggle {
        display: block !important;
    }
}

.editable {
    .head-container, .product-card {
        &:hover .edit-toggle {
            display: block !important;
        }
    }
}
