.mn-button {
  background-color: #208cbc;
  border: 1px solid white;
  padding: 2px 6px;
  color: white;
  font-size: 11px;
  border-radius: 3px;
}
.mn-button:hover {
  background-color: #5ebbe4;
}
html,
body {
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  height: 100%;
}
.mn-home {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
}
.mn-home .header {
  display: block;
  min-height: 100px;
  text-align: center;
}
.mn-home .header img {
  float: left;
}
.mn-home .header .search {
  display: inline-block;
  width: 50%;
  margin-top: 26px;
}
.mn-home .header .search input {
  width: 96%;
  margin-right: -25px;
  font-size: 23px;
  border: 1px solid #383838;
  padding: 1px 4px;
}
.mn-home .header .search .fa-search {
  color: #383838;
  font-size: 20px;
}
.mn-home .header .search .fa-search:hover {
  color: #5ebbe4;
}
.mn-home .body .cards-list .profile-card {
  margin: 5px;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 110px;
  border: 1px solid #383838;
  overflow: hidden;
  border-radius: 3px;
}
.mn-home .body .cards-list .profile-card.create {
  border: 2px dotted #5ebbe4;
  cursor: default !important;
  outline: none !important;
}
.mn-home .body .cards-list .profile-card.create:hover {
  box-shadow: 0px 0px 5px yellow;
}
.mn-home .body .cards-list .profile-card.create input {
  outline: 1px solid #383838;
  background: transparent;
  width: 180px;
  padding: 2px 5px;
  border: none;
}
.mn-home .body .cards-list .profile-card.create input:hover {
  background: rgba(255, 255, 255, 0.18);
}
.mn-home .body .cards-list .profile-card.create input::-webkit-input-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create input:-moz-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create input::-moz-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create input:-ms-input-placeholder {
  color: black;
}
.mn-home .body .cards-list .profile-card.create .dark {
  color: black;
}
.mn-home .body .cards-list .profile-card.create .white {
  background-color: #ffffff;
  color: black;
}
.mn-home .body .cards-list .profile-card.create .card-title {
  bottom: 2px;
}
.mn-home .body .cards-list .profile-card:hover {
  outline: 2px solid #5ebbe4;
  cursor: pointer;
}
.mn-home .body .cards-list .profile-card .thumbnail {
  position: absolute;
  left: 5px;
  top: 5px;
  background-image: url(/content/images/mobnation-hand-medium.png);
  background-repeat: no-repeat;
  background-position: 30px 20px;
  height: 100px;
  width: 100px;
}
.mn-home .body .cards-list .profile-card .thumbnail i {
  font-size: 35px;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.61);
  margin-left: 33px;
  margin-top: 30px;
}
.mn-home .body .cards-list .profile-card .dark {
  background-image: url('/Content/images/mobnation-v1-profile-page-bg.png?');
  color: black;
}
.mn-home .body .cards-list .profile-card .white {
  background-color: #ebebeb;
  color: black;
}
.mn-home .body .cards-list .profile-card .top-section {
  height: 55px;
  padding-left: 110px;
  position: relative;
}
.mn-home .body .cards-list .profile-card .bottom-section {
  height: 55px;
  padding-left: 110px;
  position: relative;
  text-align: center;
}
.mn-home .body .cards-list .profile-card .bottom-section .mn-button {
  margin-top: 15px;
}
.mn-home .body .cards-list .profile-card .card-title {
  position: absolute;
  bottom: 0px;
}
.mn-home .footer {
  border-top: 1px solid black;
  height: 142px;
}
.mn-profile {
  max-width: 950px;
  margin: auto;
  position: relative;
}
.mn-profile .header {
  background-image: url('/Content/images/mobnation-v1-profile-page-bg.png?');
  background-repeat: repeat-x;
  padding-top: 70px;
}
.mn-profile .header .thumbnail {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 5px;
  top: 5px;
}
.mn-profile .header .mobnation-button {
  position: absolute;
  right: 5px;
  top: 5px;
}
.mn-profile .header .profile-headers {
  background-color: white;
  margin-top: -5px;
  border: 1px solid #d1d1d1;
  display: block;
}
.mn-profile .header .profile-headers .title,
.mn-profile .header .profile-headers .sub-title {
  margin-left: 130px;
}
.mn-profile .header .profile-headers .title {
  font-size: 23px;
}
.mn-profile .header .profile-headers .sub-title {
  font-size: 20px;
}
.mn-profile .header .profile-headers .head-container {
  border: 1px solid #d1d1d1;
  background-color: #ebebeb;
  padding: 5px;
  display: inline-block;
  height: 110px;
  min-width: 200px;
  margin: 5px;
  position: relative;
}
.mn-profile .header .profile-headers .head-container .thumbnail {
  height: 90px;
  width: 90px;
  background-color: white;
  border: 1px solid #d1d1d1;
  position: absolute;
  left: 5px;
  top: 5px;
}
.mn-profile .header .profile-headers .head-container .thumbnail .mn-caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.mn-profile .header .profile-headers .head-container .details {
  padding-left: 100px;
  display: block;
  overflow: hidden;
  height: 100px;
}
.mn-profile .header .profile-headers .head-container.contact {
  max-width: 350px;
}
.mn-profile .header .profile-headers .head-container.about {
  max-width: 574px;
}
.mn-profile .header .profile-headers .head-container .more-toggle {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 23px;
  background-color: white;
  border: 1px solid #d1d1d1;
  font-size: 12px;
  cursor: pointer;
  padding: 3px;
}
.mn-profile .header .profile-headers .head-container .more-toggle:after {
  content: 'More..';
}
.mn-profile .header .profile-headers .head-container .more-toggle:hover {
  color: #5ebbe4;
}
.mn-profile .header .profile-headers .head-container .edit-toggle {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.mn-profile .header .profile-headers .head-container .edit-toggle:hover {
  color: #5ebbe4;
}
.overflowed .more-toggle {
  display: block !important;
}
.editable .edit-toggle {
  display: block !important;
}
