<div class="mn-home">
    <div class="header">
        <img  src="/content/images/mobnation-logo-medium.png" alt="mobnation.org" />
        <div class="search"><input type="text" placeholder="Find Profile" data-bind="value: homeVM.searchText, valueUpdate: 'keypress'"/><i class="fa fa-search"></i></div>
    </div>
    <div class="body">
        <div class="cards-list">
            <div class="search-results">
                <div class="profile-card">
                    <div class="thumbnail"></div>
                    <div class="top-section dark">
                        
                    </div>
                    <div class="bottom-section white">
                        Monash Kickboxing
                    </div>
                </div>
            </div>
            <div class="new-card"></div>
        </div>
    </div>
    <div class="footer" data-bind="template: { name: 'home/footerTemplate' }"></div>
</div>