<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- iOS Tweaks -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- 3rd Party Stylesheets & Libraries -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/Content/bootstrap.css" rel="stylesheet" />

        <!-- Site Stylesheets -->
        <link href="/Content/styles/styles.css" rel="stylesheet" />
        
        <!-- JS Libaries -->
        <script src="/Scripts/jquery-2.1.0.js"></script>
        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/knockout-3.1.0.debug.js"></script>
        <script src="/Scripts/signals.js"></script>
        <script src="/Scripts/hasher.js"></script>
        <script src="/Scripts/crossroads.js"></script>
        <script src="/Scripts/underscore.js"></script>
        
        <!-- View Models -->
        <script src="/Content/scripts/homevm.js"></script>
        <script src="/Content/scripts/profilevm.js"></script>
        
        
        <!-- Root VM Application -->
        <script src="/Content/scripts/rootVM.js"></script>
        
        <!-- Tracking Analytics -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-25077068-3', 'mobnation.org');
            ga('send', 'pageview');

        </script>
        <title>MobNation.org</title>
    </head>
<body>
    <div id="layout-root" data-bind="template: { name: rootVM.activeTemplate(), data: rootVM }"></div>
</body>
</html>

